<div>
    <table cellpadding="0" align="center"
           style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
            {{ website_name }}</th>
        </tr>
        <tr>
            <td>
                <div style="padding:20px 35px 40px;">
                    <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">សួស្តី {{ username }} </h2>
                    <p style="margin-top:20px">
                        <span style="font-weight:bold;font-size:16px;">{{ website_name }}</span> ជាកម្មវិធីសិក្សាថ្មីមួយសម្រាប់សិស្សនិស្សិតអាចហ្វឹកហាត់សរសេរកូដ ដើម្បីសិក្សាស្រាវជ្រាវពង្រឹងសមត្ថភាពការគិត ដោះស្រាយបញ្ហាគណិតវិទ្យា។
                    </p>
                    <img src="https://sakcode.net/static/img/home.93ef60a.png" width="100%" alt="Sak Code ជាកម្មវិធីហ្វឹកហាត់កូដ តេស្តសមត្ថភាពជាភាសាខ្មែរ">
                    <br>
                    <p style="margin-top:20px">
                        សូមអរគុណលោកអ្នកដែលបានចុះឈ្មោះប្រើប្រាស់ <b>សាកកូដ Sak Code</b>. ​<br>Your username is: <b>{{ username }}</b> <br>Your email is: <b>{{ email }}</b>
                    </p>
                    <p style="margin-top:20px">
                        លោកអ្នកអាចសាកល្បងដោះស្រាយលំហាត់ជាមួយសាកកូដបានហើយ តាមរយៈតំណភ្ជាប់មួយនេះ <a href="{{ link }}" target="_blank">{{ link }}</a> 
                    </p>
                    <p style="margin-left:2em;"></p>
                    <p style="text-indent:0;text-align:right;">{{ website_name }}</p>
                </div>
            </td>
        </tr>

        </tbody>
        <tfoot>
            <th valign="middle" style="height:38px;color:#fff; font-size:13px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#1a263a;border-radius:5px 5px 0 0; text-align: center;">
                <br>ចូលរួមមតិក្នុងក្រុម៖ <a href="https://www.facebook.com/groups/sakcode" style="color:white;" target="_blank" >សាកកូដ - Sak Code</a> 
            </th>
        </tfoot>
    </table>
</div>